 <!DOCTYPE html>
<html>

<head>
<title>Registration</title>

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<!-- <h1>Welcome</h1> -->
{% if user.is_authenticated %}
<!-- You are logged in -->
Welcome{{user.username}}
Add a student
<a href="/student/add">Here</a>
or 
Log out 
<a href="/accounts/logout">Here</a>

{% else %}
 Not logged in
 Hello guest
 You can login 
 <a href="/accounts/login">Here</a>
 or create an account
 <a href="/accounts/register/">Here</a>
{% endif %}
</body>
</html>