<!DOCTYPE html>
<html>

<head>
<title>add_student</title>

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   	<h2 class="m1-5">Teacher Details</h2>
   	
<!-- <img src={{student.image.url}}> -->
<p>{{teacher.first_name}}</p>
<p>{{teacher.last_name}}</p>
<p>{{teacher.county_from}}</p>
<p>{{teacher.date_of_birth}}</p>
<p>{{teacher.email}}</p>
<p>{{teacher.gender}}</p>
<p>{{teacher.phone_number}}</p>
<p>{{teacher.subjects_teaching}}</p>
<p>{{teacher.id_number}}</p>
<p>{{teacher.years_of_experience}}</p>
<p>{{teacher.profession}}</p>

<a href="/teacher/edit/{{teacher.pk}}">Edit Details</a>

       
</body>
</html>