<!DOCTYPE html>
<html>

<head>
<title>add_student</title>

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   	<h2 class="m1-5">Course Details</h2>
   	
<!-- <img src={{student.image.url}}> -->
<p>{{course.name}}</p>
<p>{{course.duration_in_months}}</p>
<p>{{course.start_date}}</p>
<p>{{course.end_date}}</p>
<p>{{course.description}}</p>
<p>{{course.teacher}}</p>


<a href="/course/edit/{{course.pk}}">Edit Details</a>

       
</body>
</html>